#
# Plantilla de configuración de OpenSSL para la creacion de Autoridades de Certificacion (CA)
# `man ca`
# openssl genrsa -aes256 -out private/ca.key.pem 4096
# openssl req -new -config myserver.cnf -keyout myserver.key -out myserver.csr

# Seccion de configuración de la CA


[ ca ]

default_ca = CA_default

[ CA_default ]
# Directory and file locations.
dir               = DIRBASE
new_certs_dir     = $dir/CERT
database          = mycatest.db.txt
certs             = $dir/CERT
crl_dir           = $dir/CRL
serial            = SERIAL
RANDFILE          = $dir/.rand

# Certificado Raiz y Clave privada
private_key       = $dir/CA/mycatest.RootCA.key.pem
certificate       = $dir/CA/mycatest.RootCA.crt

# Ajustes por omision
default_md        = sha256
default_days      = 3650

[ req ]
default_bits = 4096
distinguished_name  = req_distinguished_name
string__mask = utf8only
default_md = sha256
# Extension to add when the -x509 option is used.
x509_extensions     = v3_ca

[ req_distinguished_name ]


[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

