#
# Plantilla de configuración de OpenSSL para la creacion de Autoridades de Certificacion (CA)
# `man ca`
# openssl genrsa -aes256 -out private/ca.key.pem 4096
# openssl req -new -config myserver.cnf -keyout myserver.key -out myserver.csr

# Seccion de configuración de la CA


[ ca ]
# Directory and file locations.
dir               = BASEDIR
new_certs_dir     = BASEDIR/CERT
database          = BASEDIR/CA/DATABASE
certs             = BASEDIR/CERT
crl_dir           = BASEDIR/CRL
serial            = SERIAL
RANDFILE          = BASEDIR/.rand

# Certificado Raiz y Clave privada
private_key       = PRIVATEKEY
certificate       = CERTIFICATE
# Ajustes por omision
default_md        = sha256
default_days      = 3650

[ req ]
default_bits = 4096
default_keyfile = BASEDIR/CA/PRIVATEKEY
distinguished_name  = req_distinguished_name
string__mask = utf8only
prompt = no
req_extensions = v3_ca

# Extensiones x509
x509_extensions     = v3_ca

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ req_distinguished_name ]

C = PAIS
ST = ESTADO
L = CIUDAD
O = ORGANIZACION
OU = ORGANIZACION
CN = NOMBRECA
emailAddress = EMAIL
