#
# Plantilla de configuración de OpenSSL para la creacion de Autoridades de Certificacion (CA)
# `man ca`
# openssl genrsa -aes256 -out private/ca.key.pem 4096
# openssl req -new -config myserver.cnf -keyout myserver.key -out myserver.csr

# Seccion de configuración de la CA


[ ca ]
# Directory and file locations.
dir               = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs
new_certs_dir     = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs/CERT
database          = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs/CA/MiMaquinita.db.txt
certs             = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs/CERT
crl_dir           = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs/CRL
serial            = SERIAL
RANDFILE          = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs/.rand

# Certificado Raiz y Clave privada
private_key       = MiMaquinita.RootCA.key.pem
certificate       = MiMaquinita.RootCA.crt
# Ajustes por omision
default_md        = sha256
default_days      = 3650

[ req ]
default_bits = 4096
default_keyfile = /home/toni/Training/LinuxScripts/LinuxScripts/serviciosApache/Certs/CA/MiMaquinita.RootCA.key.pem
distinguished_name  = req_distinguished_name
string__mask = utf8only
prompt = no
req_extensions = v3_ca

# Extensiones x509
x509_extensions     = v3_ca

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ req_distinguished_name ]

C = ES
ST = Baleares
L = Palma de Mallorca
O = La maquinita de firmar
OU = La maquinita de firmar
CN = MiMaquinita
emailAddress = yo@mail.com
